*{
    margin: 0;
    padding: 0;
}
body {
    
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 38%;
    margin-top: 5%;
    background-color: black; 
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px; 
    font-size: 20px;
    width: 350px;

}

.w, .h, .c {
    padding: 5px;
}

input {
    font-size: 20px;
    height: 40px;
    border-radius: 5px;
    padding:10px;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}



button:hover {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

button {
    width: 100px;
    height: 40px;
}

